body {
  display: flex;
  justify-content: flex-end;
}

.navbar-container {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
  gap: 20px;
  align-items: center;
  font-family: "Roboto";
}

.logo {
  background-color: brown;
  color: white;
  padding: 5px 30px;
  margin-left: 30%;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin-left: 30px;
}
.nav-links a {
  color: rgb(65, 65, 65);
  margin-left: -10px;
  text-decoration: none;
}

.nav-links a:hover {
  color: brown;
  text-decoration: underline;
}

.estimate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 70px;
  background-image: -webkit-linear-gradient(150deg, brown 92%, white 8%);
  width: 100%;
}

.estimate-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Align text to start */
}
svg {
  fill: gold;
  width: 50px;
  margin: 0px 10px;
}
#estimate-title {
  color: white;
  padding-left: 10px;
  margin-bottom: -15px;
}

#phone-number {
  padding: 0px 20px;
  color: gold;
}

@media (max-width: 1700px) {
  .nav-links {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 1436px) {
  .navbar-container {
    justify-content: space-between;
  }
  .logo {
    margin-left: auto;
  }
}

@media (max-width: 850px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
  }
  .logo {
    margin-left: 0px;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-left: 13px;
    margin-right: 5px;
  }
  .estimate {
    background-image: none;
    background-color: brown;
    justify-content: center;
    padding: 10px;
  }
}
